.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    min-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.nav{
    list-style: none;

    li{
        display: inline-block;
        font-size: 16px;
        line-height: 120px;
        font-weight: bold;
        padding: 0 10px;
        border-bottom: 4px solid transparent;
        cursor: pointer;
        
        a{
            text-decoration: none;
            color: gray;            
        }

        &:hover{
            border-bottom: 4px solid $blue-dc;
            a{
                color: $blue-dc;
            }
        }

    }
}